NEXT_PUBLIC_SUPABASE_URL=https://lmzetzwtaqkmeykwlvmw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ovH0xZ0XaDJ7iDeb8Vq92A_k1MQ2F3T
NEXT_PUBLIC_FUNCTION_URL=
SUPABASE_SERVICE_ROLE_KEY=sb_secret_UN0SKzN4FnHd3-9ldPEKcA_7IweE1eq
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
BR31_ANGELHR_PASSWORD=M8M&7ni*s7RZQa7